<h1>Secret R-aaas</h1>
<a href="/r-aaas/new" class="btn btn-success">New R-aaa</a>
<div class="form-group">
    <label for="search">Search</label>
    <input type="text" class="form-control" id="search" ng-model="search">
</div>
<div class="well" ng-repeat="r-aaa in r-aaas | filter:{title:search} track by r-aaa._id">
    <h1>{{r-aaa.title}}</h1>
    <a ng-href="/r-aaas/{{r-aaa._id}}">Permalink</a>
    <a ng-click="deleteR-aaa(r-aaa._id, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-right"></a>
</div>
